@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
}

@for $i from 1 through 5 {
  .bg-#{$i} {
    background-image: url("img/background" + #{$i} + ".jpg");
  }
}

.section {
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #000;
    .nav__logo {
      background-image: url("img/pc-logo-mono-black.png");
    }
  }
}

.nav {
  &__logo-wrapper {
    width: 110px;
    height: 40px;
  }
  &__logo {
    background-image: url("img/pc-logo-mono-white.png");
    background-size: cover;
    width: 110px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
  }
}

.search {
  &__input {
    &:placeholder-shown {
      padding-left: 1.5rem;
    }
    &::placeholder {
      padding-left: 1.5rem;
    }
  }
}
