@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
}

@for $i from 1 through 5 {
  .bg-#{$i} {
    background-image: url("img/background" + #{$i} + ".jpg");
  }
}

.section {
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.search {
  &__input {
    &:placeholder-shown {
      padding-left: 1.5rem;
    }
    &::placeholder {
      padding-left: 1.5rem;
    }
  }
}
