@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
:root {
  min-height: 100vh;
}

.nav__logo {
  background-image: url("img/pc-logo-mono-black.png");
}
.nav__logo--transparent {
  background-image: url("img/pc-logo-mono-white.png");
}

.section:hover {
  background-color: #fff;
  color: #000;
}
.section:hover .nav__logo--transparent {
  background-image: url("img/pc-logo-mono-black.png");
}

.search__input:placeholder-shown {
  padding-left: 1.5rem;
}

.search__input::placeholder {
  padding-left: 1.5rem;
}

.nav__user {
  background-image: url("img/user-black.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav__user--transparent {
  background-image: url("img/user-white.png");
}

.section:hover .nav__user {
  background-image: url("img/user-black.png");
}
.section:hover .nav__user--transparent {
  background-image: url("img/user-black.png");
}

.nav__cart {
  cursor: pointer;
  background-image: url("img/shopping-cart-black.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav__cart--transparent {
  background-image: url("img/shopping-cart-white.png");
}

.section:hover .nav__cart {
  background-image: url("img/shopping-cart-black.png");
}
.section:hover .nav__cart--transparent {
  background-image: url("img/shopping-cart-black.png");
}

.product__add-to-cart {
  opacity: 0;
}
.product__description {
  transform: translateY(0);
}
.product:hover .product__add-to-cart {
  opacity: 1;
  animation: showCounter ease 0.5s;
}
.product:hover .product__description {
  animation: moveTop ease 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-100%);
}
.product::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
.product input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@keyframes moveTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes hideCounter {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes showCounter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cart__product {
  display: grid;
  grid-template: "image name bin" "image name bin" "image price input";
}
.cart__image-wrapper {
  grid-area: image;
}
.cart__bin {
  background-image: url("img/bin.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.cart::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
.cart input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.mobile-menu__stripes {
  background-image: url("./img/mobile-menu-button-black.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: calc(100vh - 2rem);
}

/*# sourceMappingURL=globals.css.map */

/*# sourceMappingURL=globals.css.map */
